html {
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: auto;
}

.sideBar {
  height: 100vh;
  position: fixed;
  top: 0px;
  left: -240px;
  transition: all 0.7s;
}

.sideBar .row {
  display: flex;
}

.sideBar .row > div {
  padding: 10px 20px;
}

.sideBar .leftSide {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  height: 100vh;
  padding: 10px 30px;
  width: 200px;
}

.sideBar .leftSide i {
  margin-top: 10px;
  margin-bottom: 50px;
  align-self: flex-end;
  color: white;
  cursor: pointer;
}

.sideBar .leftSide > a {
  padding: 15px 32px;
  margin: 10px 0px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  transition: 0.5s;
}

.sideBar .leftSide > a:hover {
  color: #6d0707;
}

.sideBar .rightSide span {
  font-size: 20px;
  color: rgb(97, 83, 83);
  cursor: pointer;
}

.sideBar .rightSide span i {
  margin-top: 30vh;
  font-size: 30px;
  margin-right: 6px;
}

.home {
  width: 100%;
  background-image: url("../images/pexels-wendy-wei-1190298.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

.overLay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #d83c30bb;
}

.home .overLay h2 {
  font-size: 60px;
  color: white;
  margin-bottom: 8px;
  text-align: center;
}

.home .overLay p {
  font-size: 16px;
  color: white;
  margin-top: 0px;
  font-family: sans-serif;
}

.singer {
  margin: 100px auto;
  width: 55%;
}

.singer h3 {
  padding: 10px 20px;
  text-align: center;
  background-color: #e68285;
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin: 0px;
  cursor: pointer;
}

.singer p {
  font-size: 16px;
  padding: 15px;
  margin: 0px;
  text-align: center;
  background-color: #e9e8e8;
  display: none;
}

.joinUs {
  background-image: url(../images/banner_en.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 40vh;
}

.joinUs .container {
  width: 100%;
  height: 100%;
  background-color: #d83b3093;
}

.joinUs .timer {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(20% / 3);
}

.joinUs .timer span {
  padding: calc(50% / 8);
  border: 1px solid white;
  font-size: 30px;
  color: white;
  flex-basis: 20%;
  text-align: center;
}

.contact {
  padding: 100px 0px;
}

.contact .container > h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.contact .container > h2 + p {
  font-size: 16px;
  color: #777;
  text-align: center;
  margin-bottom: 18px;
}

.contact .row {
  display: flex;
  font-family: sans-serif;
}

.contact .row > div {
  flex-basis: 50%;
  padding: 0px 10px;
}

.contact .row .info h4 {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 0px;
}

.contact .row .info h4 + p {
  font-size: 16px;
  color: #777;
  margin-bottom: 35px;
}

.contact .row .info p:nth-child(3) {
  font-size: 16px;
  color: #777;
  margin-bottom: 35px;
  text-align: center;
}
.contact .row .info p:nth-child(3) i {
  margin-right: 6px;
}

.contact .row .info p:nth-child(4) {
  font-size: 16px;
  color: #d81f1f;
  margin-bottom: 35px;
  margin-left: 30px;
  text-align: center;
}

.contact .row .info p:nth-child(5) {
  font-size: 16px;
  color: #777;
  margin-bottom: 60px;
  margin-left: 30px;
  text-align: center;
}
.contact .row .info p:nth-child(4) i {
  margin-right: 10px;
  color: #777;
}
.contact .row .info p:nth-child(5) i {
  margin-right: 10px;
}

.contact .row .info .social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.contact .row .info .social span {
  padding: 10px 10px;
  border: 1px solid #777;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  transition: 0.5s;
  cursor: pointer;
}

.contact .row .info .social span:hover {
  background-color: #d60e0e;
  color: white;
  border-color: #d60e0e;
}

.contact .row .form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #ced4da;
  font-size: 1rem;
  color: #495057;
}

.contact .row .form textarea {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #ced4da;
  font-size: 1rem;
  color: #495057;
}

.contact .row .form p {
  font-size: 20px;
  color: #777;
}

.contact .row .form p span {
  font-size: 20px;
  color: #d81f1f;
  margin-right: 5px;
}

.contact .row .form button {
  padding: 15px 20px;
  background-color: #db3838;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: sans-serif;
  transition: 0.5s;
}

.contact .row .form button:hover {
  background-color: #d60e0e;
}
